
body {
    font-family: Arial, sans-serif;
}
form {
    max-width: 500px;
    margin: 0 auto;
}
input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#map {
    height: 400px;
    width: 100%;
    margin: 10px;
}
label{
    color: #ffffff;
    text-shadow: 4px 4px 8px #000;

}



/* end subject */

