/* navbar style */
/* Navbar css*/
.navbar li{
    display: inline;
    margin: 0px 60px;
}
.navbar ul{
    text-align: center;
}
.navbar {
    width: 100vw;
    position: relative;
    padding: 1px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    margin-right: 100px;
    z-index: 3;
    background-color: #4CA6E8;
    /* background-clip: padding-box; 
    background-origin: border-box; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
.navbar a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.navbar a:hover{
    color: rgb(255, 255, 255);

    text-shadow: 2px 2px 4px #ffffff;  
}
/* end navbar */
/* button style */
.button-link{
    border-radius: 15px; 
    padding: 6px 20px; 
    background-color: #4CA6E8; 
    text-align: center;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-style: italic;
}
.button-link:hover{
    background-color: #2c93dc;
    text-shadow: 2px 2px 4px rgb(22, 45, 67);
}
/* end button */
/* logo style */
.logo{
    object-fit: contain;
    width: 150px;
    height: auto;
}
/* end logo */
body {
    margin: 0;
padding: 0;
color: black;
justify-content: center;
min-height: 100vh;
}
h2{
    margin-left: 40%;
}
header {
    text-align: center;
    padding: 10px;
    background-color: #514caf;
    color: white;
    font-size: 24px;
}

section {
    margin: 20px 0;
    text-align: justify;
}

img {
 width: 100%;
}

.faq {
    margin-top: 20px;
}

.question {
    font-weight: bold;
    margin-bottom: 5px;
}

.answer {
    margin-bottom: 20px;
}
.imageChange {
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
max-width: 600px; 
margin-top: 10px;
margin-left: 17%;
margin-right: auto;
height: auto;
}
.Text1{
        margin-right: 500px;
}
.image2change{
    margin-top: 10px;
    margin-left: 60%;
    max-width: 500px;
}
.ourmission{
    margin-right: 350px;
    margin-left: auto;            
}
.image3change{
    margin-top: 10px;
    margin-right: 60%;
    max-width: 500px;
}
.Text2{
    margin-left: 500px;
}
#Button1 {
padding: 10px 20px;
font-size: 16px;
cursor: pointer;
}
#Button2 {
padding: 10px 20px;
font-size: 16px;
cursor: pointer;
}
/* Footer css */
.footer{
	margin: 0;
	padding:0;
	box-sizing: border-box;
	background-color: #24262b;

	line-height: 1.5;
}
.row-footer{
	display: flex;
	flex-wrap: wrap;
    padding: 70px 0;
}
.footer-col{
   width: 20%;
   padding: 0 15px;
}
.footer-col ul{
	list-style: none;
}
.footer-col h4{
	font-size: 18px;
color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.footer-End {
    padding: 10px ;
    border-top: 1px solid #e0e0e0 ;
    border-bottom: 1px solid #f2f2f2;
}
.footer-copyright{
    text-align: center;
    color: #ffffff;
    padding: 10px 5px;
}
/* End Footer css*/

/* Modal css */
.close-modal {
    background: none;
    color: black;
    border: none;
    font-size: 3.5rem;
    cursor: pointer;
  }  
.modal {
    position: fixed;
    top: -90%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 0.3s ease-in-out;
    border: 1px solid #ccc;
    border-radius: 10px;
    z-index: 2;
    background-color: #fff;
  }  
.modal.active {
    top: 50%;
  }
  .logo{
    object-fit: contain;
    width: 150px;
    height: auto;
}
body{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    min-height: 100vh;
}
.modal-header {
    display: flex;
    flex-direction: row-reverse;
  }  
.modal .body {
    padding: 0.75rem;
  }
/* End Modal css*/
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
#overlay.active {
    display: block;
  }
  

